APP_PORT=3000
POSTGRES_HOST=postgres
POSTGRES_DB=app
POSTGRES_USER=pguser
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}